body {
margin: 0% auto;
}

h1 {
    display: inline;
    font-size: 20px;
    margin-left: 25px;
    color: rgb(3, 3, 182);
}

header {
    background-color: #ffffff;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/*以下ナビバーのCSS*/

ul {
    padding-left: 0;
    text-decoration-line: none;
}

.flex {
    display: inline;
    margin-left: 200px;
    margin-right: 100px;
    font-size: 18px;
    color: rgb(3, 3, 182);
}

li {
    list-style: none;
    font-weight: bold;
    font-size: small;
    float: left;
    margin-left: 40px;
    

}

a{
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    

}


/*以下画像のCSS*/

.image {
    width: 50%;
    display: inline;
    float: right;
    z-index: 10;
    position: relative;
}


/*以下青線のCSS*/

.border {
    width: 1000px;
    height: 200px;
    background-color: rgb(3, 3, 182);
    margin: 0;
    z-index: 0;
    position: absolute;
    top: 60%;
}

.p {
    font-size: 50px;
    padding: 0%;
    position: absolute;
    top: 45%;
}